<div class="container">
  <h1>New Employee</h1>
  
  <%= render 'form', url: employees_path, method: :post, employee: nil %>

  <%= link_to "Back", employees_path, class: 'mt-3 d-inline-block' %>
</div>
